*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

main{
    justify-content: center;
    background-color:#6C98CF ;
    display: flex ;
    flex: 1;
    align-items: center;
    text-align: center;
    min-height: 73.5vh;
   
}
.container-sn{
    background-color: #335A8A;
    width: 1000px;
    height: auto;
    padding: 20px;
    border: #335A8A;
    border-radius: 10px;
    
}
.logo-sn{
    padding: 10px;

}
.logo-sn img{
    width: 150px;
    background-color: aliceblue;
    border:1px solid #fff;
    border-radius:180px;
}
.informacion-iconik{
    background-color: #fff;
    margin-bottom: 5px;
    padding: 8px;
    border: #fff;
    border-radius: 10px;
}

.informacion-iconik h3{
    font-size: 17px;
}
.informacion-iconik p{
    font-size: 15px;
}
.logo-sn img{
    width: 140px;
}
.container-sn{
    margin: 40px;
}



/* footer*/ 


@media screen and (max-width: 900px){
    .logo-sn img{
        width: 150px;
    }
    .container-sn{
        margin: 40px;
    }
    .informacion-iconik h3{
        font-size: 17px;
    }
    .informacion-iconik p{
        font-size: 14px;
    }
    .logo-sn img{
        width: 140px;
    }
}

   
    
    

@media screen and (max-width: 690px){
    
    .container-sn{
        margin: 10px;
        padding-left:10px;
        padding-right:10px ;
    }
    .informacion-iconik h3{
        font-size: 16px;
    }
    .informacion-iconik p{
        font-size: 14px;
    }
    
    
}

@media screen and (max-width: 620px){
    
    main{
        height: auto;
    }
    .logo img{
        max-width: 50px;
    }
    .logo-sn img{
        width: 100px;
    }
    .container-sn{
        margin: 40px;
        padding-left:20px;
        padding-right:20px ;
    }
    .informacion-iconik h3{
        font-size: 15px;
    }
    .informacion-iconik p{
        font-size: 12px;
    }
   

}
@media screen and (max-width: 375px){
    
        .logo-sn img{
            width: 70px;
        }
        .container-sn{
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
            padding-left:10px;
            padding-right:10px ;
        }
        .informacion-iconik{
            margin-bottom: 10px;
        }
        .informacion-iconik h3{
            font-size: 14px;
        }
        .informacion-iconik p{
            font-size: 12px;
        }
    }